<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <button class="custom-toggler navbar-toggler bg-white" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse bg-white " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item bg-white">
        <button class="nav-link btn btn-light bg-white border-white" (click)="resetArray()"
                data-toggle="collapse"
                data-target=".navbar-collapse.show">Generate New Array
        </button>
      </li>
      <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle btn btn-light bg-white border-white" id="navbarDropdown"
                role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Sorting Algorithms
        </button>
        <div class="dropdown-menu bg-white border-white" aria-labelledby="navbarDropdown">
          <button class="dropdown-item btn btn-light bg-white border-white"
                  data-toggle="collapse"
                  data-target=".navbar-collapse.show">Bubble Sort
          </button>
          <button class="dropdown-item btn btn-light bg-white border-white"
                  data-toggle="collapse"
                  data-target=".navbar-collapse.show">Merge Sort
          </button>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="nav-link">Selected Algorithms: Bubble Sort</div>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-light bg-white border-white"
                (click)="sort()"
                data-toggle="collapse"
                data-target=".navbar-collapse.show">Sort!
        </button>
      </li>
    </ul>
  </div>
</nav>
<diV class="visualiser">
  <array-bar class="bar" *ngFor="let num of array" [value]="num"></array-bar>
</diV>
